//Search div
$height-search-div: 300px;


// Results div (for large/small screens)
$height-results-div-large: 140px;
$width-results-div-large: 75%;
$height-results-div-small: 350px;
$width-results-div-small: 400px;

// Map div
$height-map-div: 68%;